<div class="form-container">
  <!-- TITLE -->
  <div class="form-title">
    <label for="code-title">Title:</label><br>
    <input class="form-title" id="code-title" type="text" name="title" value="{{codes.title}}"/>
  </div>
  <!-- DESCRIPTION -->
  <div class="form-description">
    <label for="code-description">Description:</label><br>
    <textarea class="form-description" id="code-description" name="description" rows="8" >{{codes.description}}</textarea>
  </div>
<!-- CODE SNIPPET -->
  <div class="form-snippet">
    <label for="code-snippet">Code Lnaguage:</label>
    <!-- LANGUAGE OF CODE -->
    <select class="code-snippet-language" name="codeLanguage" id="snippet-language">
      <option value="{{codes.codeLanguage}}" selected disabled hidden>{{codes.codeLanguage}}</option>
      <option value="java">Java</option>
      <option value="python">Python</option>
      <option value="javascript">Javascript</option>
      <option value="c">C</option>
      <option value="c++">C++</option>
    </select>
    <br>
    <label for="code-snippet">Code Sample:</label>
    <textarea hidden class="form-snippet" id="code-snippet" name="codeSnippet" rows="28" >{{{codes.codeSnippet}}}</textarea>
  </div>
  <script type="text/javascript" src="/js/app.js"></script>
<!-- CODE REPO -->
  <div class="form-link">
    <label for="repo-link">Link to Repository: (Optional)</label><br>
    <input class="form-link" id="repo-link" type="url" name="linkToRepo" value="{{codes.linkToRepo}}"/>
  </div>
</div>
