<div class="show-container">

      <h1 class="show-title">{{code.title}}</h1>

      <p class="show-description">{{code.description}}</p>

      <pre> <code class="show-snippet"> {{{code.codeSnippet}}} </code> </pre>

      <p><a class="show-link" href="{{code.linkToRepo}}">{{code.linkToRepo}}</a></p>

      <p><a class="show-edit-link" href="/codeSamples/{{code._id}}/edit">Edit</a></p>

</div>


<!-- <form method="POST" action="/codeSamples/{{code._id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form> -->
